.container {
  display: grid;
  grid-template-columns: 190px 190px 190px;
  grid-template-rows: 150px 150px;
  grid-gap: 1rem;
}

.item {
  background-color: #1eaafc;
  color: #fff;
  border-radius: 4px;
  font-size: 45px;
  padding: 45px 30px;
}
