*{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
	padding: 1em;
}

header nav li{
	display: inline-block;
	padding: 1em;
}


.container{
	display: flex;
	flex-wrap: wrap;
}

article{
	flex-basis: 50%;
	flex-grow: 1;
	margin-top: 1em;
}

article figure{
	float: left;
	margin-right: 1em;
}

aside nav li{
	padding: 1em;
	display: inline-block;
}

aside{
	margin-top: 1em;
}



