img {
  width: 100%;
}

.element {
  background-color: rgba(0, 128, 0, 0.449);
  padding: 60px 30px 30px 30px;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 2.5em;
  bottom: 5.6em;
  position: relative;
}
