.card__btn {
  padding: 10px 100px 10px 100px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
  border-color: gray;
}

.card__image {
  width: 100%;
}

.card__title {
  font-size: xx-large;
}

.card__text {
  font-style: normal;
  font-size: 16px;
}

.container {
  display: flex;
  background-color: rgba(255, 228, 196, 0.587);
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  flex-basis: 250px;
  text-align: center;
  margin: 15px;
  padding: 10px;
}
