body {
  background-color: rgba(128, 128, 128, 0.586);
  margin: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

section {
  flex: 1;
  display: flex;
}

section img {
  width: 700px;
}

aside {
  display: flex;
  width: 600px;
  flex-direction: column;
}

aside img {
  width: 180px;
  height: 130px;
  float: left;
  padding: 0px 10px 0px 0px;
}

p,
h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
